
/*** Updates ***/

.updates {
	width:700px;
  margin:0 auto;
	padding:0;
	min-height:500px;
}

li.update {
	list-style-type:none;
	margin-bottom:50px;
}

li.update h3 {
	font-size:120%;
	color:#fff;
	border-bottom:1px solid #bbb;
}


li.update .date {
	color:#fff;
	padding-left:20px;
	font-size:smaller;
	font-weight:bold;
}

li.update .body {
	padding-left:20px;
}


