<%= trail 'Contact' %>

<div class="social">
	<p>Social Networks</p>
	<a href="http://www.facebook.com/meagar" class="facebook"><span>Facebook</span></a>
	<a href="http://www.twitter.com/meagar" class="twitter"><span>Twitter</span></a>
	<a href="http://www.linkedin.com/in/meagar" class="linkedin"><span>LinkedIn</span></a>
</div>


<div class="email">
	<h4><span>Interested in my services as a web designer or software developer?</span></h4>

	<p>
		<span>
		Request a full copy of my resume
		and additional contact information by contacting me at...
		</span>
	</p>

	<a href="mailto:meagar@gmail.com"><span>meagar@gmail.com</span></a>
</div>


<div class="im">
	<p>Instant Messenging Services</p>
	<a type="application/x-icq" href="http://www.icq.com/people/cmd.php?uin=45068462&amp;action=message"
			class="icq"><span>ICQ</span></a>
	<a href="msnim:chat?contact=meagar@gmail.com" class="msn"><span>MSN</span></a>
	<a href="aim:goim?screenname=meagar@gmail.com" class="im aim"><span>AIM</span></a>
</div>

<div style="text-align:center; clear:both; padding-top:20px;">
	<p>
		I'm a regular poster on <a href="http://www.stackoverflow.com">StackOverflow</a>, a Q/A site for programmers:
	</p>

	<a href="http://stackoverflow.com/users/229044/meagar">
		<img src="http://stackoverflow.com/users/flair/229044.png?theme=dark" width="208" height="58"
		alt="profile for meagar at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
		title="profile for meagar at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
	</a>
</div>

<br />
<br />
<br />

